@import "tailwindcss";

@layer base {
  /* * {
    border: 1px solid red;
  } */
  body {
    font-family: "Mulish", sans-serif;
  }
  /* input {
    @apply border rounded px-3 py-1
  } */
  a, button {
    @apply cursor-pointer text-primary
  }
}
@theme {

  --color-primary: #1d4ed8;
  --color-secondary: #a0a3bd;
  --color-important: #d00707;
  --color-active: #00ba88;
  --color-title-info-first: #4e4b66;
  --color-title-info-second: #aaaaaa;
  --color-background: #f5f6f8;

  /* --radius-5px: 5px; */
}

@layer components {
  .input-form {
    @apply w-full h-[3.25rem] border border-gray-400 rounded px-3 py-1 focus:outline-none 
  }
  .card {
    @apply w-60
  }
  .card-img {
    @apply w-60 h-[23rem]
  }
}